.list-table {
  margin-top: 78px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent; }

.list-table-head {
  padding: 15px 0; }

.list-table-head,
.list-col,
.list-row,
.list-table-row {
  border-top: 2px solid #f1f1f1;
  padding: 15px 0; }

.list-row {
  text-align: center; }

.list-link {
  padding: 8px 12px;
  background-color: #1BBC9B;
  border-radius: 4px;
  margin: 0 2px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 15px;
  text-align: center;
  cursor: pointer; }

.list-link:hover {
  opacity: 0.8; }

.modal-confirm-del {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0; }

.modal-confirm-del-after {
  opacity: 0.5;
  background-color: #212529;
  width: 100%;
  height: 100%;
  display: block; }

.modal-del {
  position: absolute;
  top: 20%;
  right: 50%;
  transform: translateX(50%);
  background-color: #fff;
  border-radius: 4px;
  width: 500px;
  height: 210px;
  opacity: 1;
  z-index: 1;
  padding: 20px; }

.modal-dialog-del {
  height: 100%; }

.modal-content-del {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%; }

.modal-header-del {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  padding: 16px; }

.btn-close {
  background-color: inherit;
  border: none;
  font-size: 20px;
  cursor: pointer; }

.modal-title-del {
  font-size: 20px;
  color: #212529; }

.modal-body-del {
  padding: 16px; }

.modal-footer-del {
  padding: 16px;
  display: flex;
  justify-content: space-between; }

.modal-footer-btn {
  background-color: #6c757d;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  min-width: 60px; }

.modal-footer-btn:hover {
  opacity: .8; }
