@media (max-width: 1200px) {
  .main-container-head {
    margin-bottom: 248px; }
  .main-input-container {
    max-width: 900px; }
  .main-form-control,
  .main-form-select,
  .main-btn-label {
    width: 95%; }
  .main-label-container {
    display: block; }
  .main-continent-img {
    height: 1050px; }
  .main-continent {
    margin: 15px auto; }
  .main-footer-information {
    height: 640px;
    top: 102px;
    margin: 120px 0; }
  .main-information-details {
    margin-top: 36px; } }

@media (max-width: 800px) and (min-width: 1200px) {
  .main-header-destination {
    font-size: 32px; }
  .main-header-quality {
    font-size: 48px; }
  .main-small-place {
    font-size: 12px; }
  .main-small-place {
    font-size: 12px; }
  .main-header-price {
    font-size: 24px; }
  .main-header-sale {
    padding: 3px 5px;
    font-size: 8px; }
  .main-header-icon {
    font-size: 15px; } }

@media (max-width: 799px) {
  .body-choice-img {
    height: 240px; }
  .body-container-tour {
    width: 100% !important;
    display: block !important;
    margin: 15px auto; }
  .main-content-main {
    height: 200px; }
  .main-form-select {
    margin: 10px 20px; }
  .main-input-advanced {
    display: none; }
  .main-input-search {
    width: inherit;
    background-color: #1BBC9B; }
  .main-form-control {
    margin: 10px 20px; }
  .main-input-container {
    max-width: 270px;
    bottom: -6px; }
  .main-form-control, .main-form-select, .main-btn-label {
    width: 86%; }
  .main-input-advanced {
    padding: 12px 16px; }
  .main-input-information {
    top: -44px;
    width: 270px; }
  .main-middle-head {
    width: max-content; }
  .main-container-text {
    width: 1150px;
    position: absolute;
    top: 0;
    left: 44%; }
  .main-container-text-2 {
    top: 0; }
  .main-header-destination {
    font-size: 16px; }
  .main-big-quality {
    font-weight: 400; }
  .main-small-quality,
  .main-big-quality {
    font-size: 23px; }
  .main-small-place {
    font-size: 6px; }
  .main-big-place {
    font-size: 12px; }
  .main-header-sale {
    font-size: 5px;
    padding: 2px 3px; }
  .main-price-animation {
    font-size: 19px; }
  .main-header-icon {
    font-size: 8px;
    right: -8px;
    bottom: 4px; }
  .main-destination-container {
    position: absolute;
    top: 34px; }
  .main-header-price {
    font-weight: 400;
    top: 88px;
    left: 70px; }
  .main-sale-animation {
    left: -24px;
    top: -52px; }
  .main-header-place {
    top: 60%;
    left: 13%; }
  .main-middle-image {
    height: 500px; }
  .main-continent {
    padding: 0; }
  .body-choice-btn {
    display: block;
    margin-top: 20px;
    text-align: center; }
  .main-continent-img {
    height: 400px; }
  .main-information-container {
    flex-direction: column; }
  .main-footer-item {
    flex-direction: column;
    height: 400px;
    padding-bottom: 15px; }
  .main-item-content {
    width: 100%; }
  .main-item-price {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 8px;
    margin-left: 16px;
    height: auto; }
  .main-price-detail {
    display: none; }
  .main-footer-item {
    margin-bottom: 170px;
    border: 1px solid #f9f9f9; }
  .main-price-number {
    font-size: 20px;
    margin-bottom: 0; }
  .main-item-header {
    background-color: #fff; }
  .main-item-img {
    width: 100%;
    height: -webkit-fill-available; } }
