<footer class="footer">
    <div class="footer-container container">
        <div class="footer-container-sub">
            <span class="footer-content">Phone Support</span>
            <span class="footer-sub">24 HOURS A DAY</span>
            <span class="footer-contact">+ 01 345 647 745</span>
        </div>

        <div class="footer-container-sub">
             <span class="footer-content">Connect With Us</span>
            <span class="footer-sub">SOCIAL MEDIA CHANNELS</span>
            <div class="footer-social">
               <a href="" class="footer-social-icon "> <span class="ti-instagram"></span> </a>
              <a href="" class="footer-social-icon ">  <span class="ti-twitter-alt"></span> </a>
             <a href="https://www.facebook.com/ta.loi.9235/" class="footer-social-icon ">  <span class="ti-facebook"></span> </a>
               <a href="" class="footer-social-icon " >  <span class="ti-pinterest"></span></a>
              <a href="" class="footer-social-icon ">  <span class="ti-youtube"></span> </a>
            </div>
        </div>

        <div class="footer-container-sub">
              <span class="footer-content">Newsletter</span>
            <span class="footer-sub">SIGN UP FOR SPECIAL OFFERS</span>

             <div class= "footer-subscribe">
                <input type="email" class="footer-subscribe-email" placeholder="Email">
                <button class="footer-subscribe-btn">Subscribe</button>
            </div>
        </div>
    </div>

</footer>