<div class="header">
    <div class="header-sub">
        <div class="header-sub-container">
            <div class="header-information">
                    <a href="#" class="header-options">
                        <span class="ti-credit-card"></span>
                        Payment Options
                    </a>
                    <a href="" class="header-term">
                        	<span class="ti-check-box"></span>
                            Terms Conditions
                            </a>
                    <a href="" class="header-place">US</a>
                    <a href="" class="header-place">IT</a>
                    <a href="" class="header-place">ES</a>
                </div>

                <div class="header-user">
                    <div class="header-booking">My Bookings</div>
                    <div class="header-mail">
                        <span class="ti-email"></span>
                        
                    </div>

                    <div class="header-review">Add Your Review</div>
                    <div class="header-account">
                        <img class="header-account-avatar" src="/images/anh-gai.jpg" alt="">
                        <div class="header-account-user">
                            <a href="" class="header-account-name">User Name</a>
                            <a href="" class="header-account-status">Log Out</a>
                        </div>
                       
                    </div>
                </div>
        </div>
       
    </div>
       <div class="header-solid-color"></div>
   
   <div class="header-main">
       
   </div>
</div>