
    <div class="modal">
        <a href="" class="modal-sell">
            <span class="modal-price"><span class="modal-price-icon">$</span>54</span>
            <span class="modal-item"><i class="ti-bell modal-item-fire"></i></span>
        </a>
    </div>