<div style="background-image: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/travel/wp-content/uploads/sites/2/2018/04/p-16.jpg); " class="main-content">
    <div class="main-content-container">
        <span class="main-content-text">CART</span>
    </div>
</div>

<div style="height: 200px; width: 100%; margin-top: 60px" 
class="container">
    <div style="position: initial;" class="item-head">Your cart is currently empty.</div>

    <a style="margin-bottom: 60px;" class="list-link" href="/">Return your Shop</a>
</div>