<div style="background-image: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/travel/wp-content/uploads/sites/2/2018/04/p-16.jpg); " class="main-content">
    <div class="main-content-container">
        <span class="main-content-text">MY ACCOUNT</span>
    </div>
</div>


<form method="POST" action="/package/store" class="create-label-container container">
        <label style="color: #a4a4a4;" for="email">Username or email address *</label>
            <div class="create-label-item mt-12">
                <input type="text" class="create-label-input" id="email" name="email">
            </div>

            <label style="color: #a4a4a4; margin-top: 20px; display: block;" for="password" class="create-label-head">Password *</label>
            <div class="mt-12">
                 <input type="password" class="create-label-input" id="password" name="password">
            </div>


              <div style="justify-content: initial;" class="create-label-item mt-12">
                <button style="font-weight: 500;" type="submit" class="create-label-submit">LOGIN</button>
             
               <label style="margin-left: 4px; padding: 10px 20px; color: #a4a4a4;" for="confirm">
                    <input style="margin-right: 4px;" type="checkbox" name="" id="">
                    Remember me?
                </label>
            </div>
</form>