<div style="background-image: url(/images/p-17.jpg); " class="main-content-main">
          <span class="home-text-destination">ITALY</span>
          <span class="home-text-quality">BEST <span class="home-small-quality">TOURS</span></span>
          <div class="home-text-place">
              <span class="home-small-place">CITY</span> 
              <span class="home-big-place">TOUR</span></div>
            <span class="home-text-price">
              2400
               <span class="home-icon-price">$</span>
            </span>
</div>